<!-- Página de controle de estoque -->
<!-- controle_estoque.html - Página de controle de estoque -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Controle de Estoque</title>
</head>
<body>
    <header class="header">
        <h1>Controle de Estoque</h1>
    </header>
    <main>
        <div class="main" class="div">
            <nav class="nav">
                <p class="button"><a class="a" href="{% url 'quantidade_em_estoque' %}">Quantidade em estoque</a></p>
                <p class="button"><a class="a" href="{% url 'adicao_produtos_estoque' %}">Adição de produtos em Estoque</a></p>
            </nav>
        </div>
        <div class="div2">
            <a href="{% url 'index' %}">Voltar à página principal</a>
        </div>
    </main>
</body>
<footer class="footer">
    <p class="p1">@Calummara - 2024</p>
    <p class="p2">Sistema feito para realização de trabalho de extensão de curso superior.</p>
</footer>
</html>
