.div1 {
    text-align: center;
    padding: 50px;
    background-color:bisque;
}

.div2 {
    text-align: center;
    padding: 50px;
    background-color: beige;
}

.div3 {
    text-align: center;
}

.a {
    text-decoration: none;
    color: black;
}

.p2 {
    font-size: 10px;
}