<!-- Página inicial -->
<!-- index.html - Página inicial -->

<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Sistema de Gestão</title>
</head>
<body>
    <header class="header">
        <h1>Bem-vindo ao Sistema de Gestão</h1>
    </header>
    <main class="main">
        <nav class="nav">
            <p class="button"><a class="a" href="{% url 'registro_venda' %}">Registrar Venda</a></p>
            <p class="button"><a class="a" href="{% url 'controle_estoque' %}">Controle de Estoque</a></p>
            <p class="button"><a class="a" href="{% url 'relatorio_mensal' %}">Relatório Mensal</a></p>
        </nav>
    </main>
</body>
<footer class="footer">
    <p class="p1">@Sistema de Gestão - 2024</p>
    <p class="p2">Sistema feito para realização de trabalho de extensão de curso superior.</p>
</footer>
</html>
